---
layout: base.njk
title: Recipes
---
<h1>Recipes</h1>
<ul class="recipe-list">
  {%- for recipe in collections.recipes | sort(false, false, "data.title") %}
  <li><a href="{{ recipe.url }}">{{ recipe.data.title }}</a></li>
  {%- endfor %}
</ul>
